@media (min-width: 1200px)
{
	#top .main-text{
		margin-top: 100px;
	}	
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px)
{
	.container{
		max-width: 1024px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}

	#top {
	
		background-position: top 0px right -60px; 
	}
	#top .main-text{
		margin-top: 120px;
	}

	#top .main-text .main-text-head{
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	#top .main-text .main-text-content{
		padding-right: 40px;
		line-height: 18px;
	}

	#top .main-text .main-text-button{
		padding: 0.75rem 6rem;
	}

	#top .img-fluid{
		max-width: 100%;
		height: auto;
	}

	#social-network .col-lg-7{
		padding-right: 0;
	}

	#top .overlay-img{
		margin-left: 20px;
		margin-top: 12%;
	}

	#top .img-fluid{
		width: 400px;
		height: 400px;
	}

	#footer-bgcolor h4{
		padding-left: 0px;
		font-size: 1.15rem;
	}

	#footer-bgcolor ul{
		padding-left: 0px;
	}

	#footer-bgcolor .footer-content{
		width: 100%;
	}

	#footer-bgcolor .row1 .col-md-7{
		padding-left: 0;
	}

	#footer-bgcolor .col-md-4, .col-md-6{
		padding-right: 0;
		padding-left: 0;
	}

	#footer-bgcolor .col-md-4{
		padding-left: 30px;
	}

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{
	.container{
		padding-right: 20px; 
		padding-left: 20px;
	}
	#top{
		background-position: top -10px right -220px; 
	}
	
	#top .main-text{
		margin-top: 120px;
	}
	#top .main-text .main-text-head{
		letter-spacing: 1.2px;
		font-size: 2rem;
	}

	#top .main-text .main-text-content{
		font-size: 14px;
		padding-right: 0px;
	}

	#top .overlay-img{
		margin-left: 10px;
		margin-top: 40px;
	}

	#top .img-fluid{
		width: 400px;
		height: 400px;
	}

	#top .header-pos .button-container{;
		padding-right: 0px;
	}

	#connect .connect-text{
		width: 60%;
	}

	#connect:before{
		left: -10px;
		width: 100vw;
		-webkit-border-radius: 80px;
		        border-radius: 80px;
		-webkit-transform: skew(-4deg, 11deg);
		    -ms-transform: skew(-4deg, 11deg);
		        transform: skew(-4deg, 11deg);
	}

	#social-network{
		margin-bottom: 200px;
	}

	#social-network .social-network-container{
		margin:0 0 15% 0;
		padding-right: 0;
		text-align: center;
	}

	#social-network .social-network-text{
		width: 60%;
		margin: 0 auto;
	}

	#social-network .slack-logo,.trello-logo, .asana-logo,.typeform-logo{
		margin-bottom: 8px;	
	}

	#social-network .salesforce-pos{
		top: -10%;
	}

	#social-network .gsuite-pos{
		top: -8%;
	}

	#social-network .gsuite-logo, .salesforce-logo{
		margin-bottom: 8px;
	}

	#social-network .asana-logo-img, .salesforce-logo-img{
		padding: 15px 50px;
	}	

	#footer-bgcolor .col-md-4{
		padding-left: 0px;
	}

	#footer-bgcolor .footer-content{
		width: 100%;
	}

	#footer-bgcolor h4, ul{
		padding-left: 30px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{	
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}

	#top {
		width: 100%;
		height: 100%;
		background-image: url("../../images/bg-intro-mobile.svg");
		background-position: top -20px right -220px;
	}

	#top .header-pos{
		padding-right: 20px;
		padding-left: 20px;
	}

	#top .main-text{
		margin-top: 40px;
		text-align: center;
	}

	#top .main-text .main-text-content{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
	}
	
	#top .main-text .main-text-head{
		letter-spacing: 1.2px;
		line-height: 120%;
		margin-bottom: 0px;
		font-size: 2.75rem;
	}

	#top .main-text .main-text-content{	
		font-size: 1.25rem;
		letter-spacing: 1.5px;
		line-height: 30px;
		padding-right: 0;
		padding-bottom: 30px;
		padding-top: 30px;
	}

	#top .overlay-img{
		-webkit-align-self: center;
		    -ms-flex-item-align: center;
		            -ms-grid-row-align: center;
		        align-self: center;
		margin-top: 20%;
		margin-bottom: 10%;
	}

	#top .img-fluid{
		max-width: 100%;
		height: auto;
	}

	#top .header-pos .button-container{
		padding-right: 0px;
	}

	#top .main-text .main-text-button{
		font-size: 1.5rem;
		padding: 1rem 6rem;
		font-weight: 600;
	}

	#connect{
		margin-top: 300px;
		margin-bottom: 250px;
	}

	#connect:before{
		top: 540px;
		left: 0px;
		-webkit-border-radius: 80px;
		        border-radius: 80px;
		-webkit-transform: skew(-4deg, 11deg);
		    -ms-transform: skew(-4deg, 11deg);
		        transform: skew(-4deg, 11deg);
	}

	#connect .connect-heading{
		width: 60%;
		margin: 0 auto 40px auto;
	}

	#connect .connect-text{
		width: 90%;
		margin: 0 auto 100px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#connect .connect-img-size{
		width: 30%;
		height: auto;
		margin-bottom: 40px;
		margin-top: 80px;
	}

	#connect .connect-img-text{
		font-size: 1.5rem;
		letter-spacing: 1.2px;
		line-height: 35px;
		padding-right: 20%;
		padding-left: 20%;
	}		

	#social-network .col-md-4{
		padding-right: 30%;
		padding-left: 30%;
	}

	#social-network .social-network-container {
	    margin: 20% 0;
	    padding-right: 2%;
	    text-align: center;
	}

	#social-network .social-network-heading{
		width: 70%;
		margin: 0 auto 70px auto;
		font-size: 1.75rem;
	}

	#social-network .social-network-text{
		width: 90%;
		margin: 0 auto 100px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#social-network .gsuite-pos, .salesforce-pos{
		position: relative;
		top: 0;
		margin-top: 10px;
	}

	#social-network .slack-logo,.trello-logo, .asana-logo,.typeform-logo,
	.gsuite-logo, .salesforce-logo{
		margin-top: 30px;
	}

	#social-network .asana-logo-img, .salesforce-logo-img{
		height: 118px;
		padding: 15px 50px;
	}

	#social-network .slack-logo-content, .gsuite-logo-content,
	.trello-logo-content, .asana-logo-content, .salesforce-logo-content,
	.typeform-logo-content{
		padding: 30px 20px;
	}

	#contacts {
		margin-bottom: 150px;
	}

	#contacts .contacts-content{
		width: 90%;
		margin: 0 auto 80px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#contacts .contact-content-button{
		width: 65%;
		font-size: 1.4rem;
		padding: 1.25rem 4.5rem;
		font-weight: 600;
	}

	#footer-bgcolor{
		padding-right: 40px;
		padding-left: 40px;
	}

	#footer-bgcolor .footer-content{
		width: 100%;
		font-weight: 400;
		line-height: 30px;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}

	#footer-bgcolor .footer-input{
		padding: 10px;
	}

	#footer-bgcolor .pr-0{
		padding-right: 10px !important;
	}
	
	#footer-bgcolor .row1 .col-md-7{
		margin-bottom: 30px;
	}

	#footer-bgcolor .footer-button{
		width: 30%;
		margin-left: 70%;
	}

	#footer-bgcolor span{
		font-size: 1.25rem;
	}

	#footer-bgcolor .mr-2{
		margin-right: 20px !important;
	}

	#footer-bgcolor ul{
		padding-left: 0;
	}

	#footer-bgcolor ul li{
		margin-top: 20px;
	}

	#footer-bgcolor h4{
		padding-left: 0;
		font-size: 1.25rem;
		margin-top: 40px;
	}

	#footer-bgcolor .contact-info span:nth-child(2){
		margin-bottom: 80px;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{
	body{
		max-width: 560px;
	}
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hover, .btn-sucess{
		font-size: 0.75rem;
	}

	#top {
		background-image: url("../../images/bg-intro-mobile.svg");
		background-position: top -10px right -100px;
	}

	#top .main-text{
		margin-top: 40px;
		text-align: center;
	}

	#top .main-text .main-text-content{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
	}
	
	#top .main-text .main-text-head{
		font-size: 2.5rem;
	}

	#top .main-text .main-text-content{	
		font-size: 1.25rem;
		letter-spacing: 1.5px;
		line-height: 30px;
		padding-right: 0;
		padding-bottom: 30px;
		padding-top: 30px;
	}

	#top .overlay-img{
		width: 100%;
		margin: 0 auto;
	}

	#top .header-pos .button-container{
		padding-right: 0px;
	}

	#top .header-pos .button-container .btn{
		padding: 0.5rem 1rem;
	}

	#top .main-text .main-text-button{
		font-size: 1.25rem;
		padding: 1rem 6rem;
		font-weight: 600;
	}

	#connect{
		margin-top: 700px;
		margin-bottom: 250px;
	}

	#connect:before{
		top: 350px;
		left: 0px;
		width: 93vw;
		height: 1565px;
		-webkit-transform: skew(-2deg, 7deg);
		    -ms-transform: skew(-2deg, 7deg);
		        transform: skew(-2deg, 7deg);
	}

	#connect .connect-heading{
		width: 60%;
		margin: 0 auto 40px auto;
	}

	#connect .connect-text{
		width: 90%;
		margin: 0 auto 100px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#connect .connect-img-size{
		width: 30%;
		height: auto;
		margin-bottom: 40px;
		margin-top: 80px;
	}

	#connect .connect-img-text{
		font-size: 1.5rem;
		letter-spacing: 1.2px;
		line-height: 35px;
		padding-right: 20%;
		padding-left: 20%;
	}	

	#connect .col-md-4{
		padding: 0;
		margin: 20px 0;
	}	

	#social-network .col-md-4{
		padding-right: 25%;
		padding-left: 25%;
	}

	#social-network .social-network-container {
	    margin: 20% 0;
	    padding-right: 2%;
	    text-align: center;
	}

	#social-network .social-network-heading{
		width: 70%;
		margin: 0 auto 70px auto;
		font-size: 1.75rem;
	}

	#social-network .social-network-text{
		width: 90%;
		margin: 0 auto 100px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#social-network .gsuite-pos, .salesforce-pos{
		position: relative;
		top: 0;
		margin-top: 10px;
	}

	#social-network .slack-logo,.trello-logo, .asana-logo,.typeform-logo,
	.gsuite-logo, .salesforce-logo{
		margin-top: 30px;
	}

	#social-network .asana-logo-img, .salesforce-logo-img{
		height: 118px;
		padding: 15px 50px;
	}

	#social-network .slack-logo-content, .gsuite-logo-content,
	.trello-logo-content, .asana-logo-content, .salesforce-logo-content,
	.typeform-logo-content{
		padding: 30px 20px;
	}

	#contacts {
		margin-bottom: 150px;
	}

	#contacts .contacts-content{
		width: 90%;
		margin: 0 auto 80px auto;
		line-height: 35px;
		font-size: 1.3rem;
	}

	#contacts .contact-content-button{
		font-size: 1.4rem;
		padding: 1.25rem 4rem;
		font-weight: 600;
	}

	#footer-bgcolor{
		padding-right: 40px;
		padding-left: 40px;
		text-align: center;
	}

	#footer-bgcolor .footer-content{
		width: 100%;
		font-weight: 400;
		line-height: 30px;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}

	#footer-bgcolor .footer-input{
		padding: 10px;
	}

	#footer-bgcolor .pr-0{
		padding-right: 10px !important;
	}
	
	#footer-bgcolor .row1 .col-md-7{
		margin-bottom: 30px;
	}

	#footer-bgcolor .footer-button{
		width: 40%;
		margin: 0 auto;
	}

	#footer-bgcolor span{
		font-size: 1.25rem;
	}

	#footer-bgcolor .mr-2{
		margin-right: 20px !important;
	}

	#footer-bgcolor ul{
		padding-left: 0;
	}

	#footer-bgcolor ul li{
		margin-top: 20px;
	}

	#footer-bgcolor h4{
		padding-left: 0;
		font-size: 1.25rem;
		margin-top: 40px;
	}

	#footer-bgcolor .contact-info span:nth-child(2){
		margin-bottom: 80px;
	}
}

@media (max-width: 320px)
{
	#top .btn-hover, .btn-success{
		font-size: 0.8rem;
	}

	#top .header-pos .button-container .btn{
		padding: 0.5rem;
	}

	#top {
		background-image: url("../../images/bg-intro-mobile.svg");
		background-position: top -10px right -40px;
	}

	#top .main-text .main-text-button{
		padding: 1rem 3rem;
	}

	#social-network .col-md-4{
		padding-right: 10%;
		padding-left: 10%;
	}

	#contacts .contact-content-button{
		font-size: 1rem;
		padding: 1rem 4rem;
	}

	#footer-bgcolor span{
		font-size: 1rem;
	}
	#footer-bgcolor .footer-button{
		width: 90%;
		margin: 0 auto;
	}
	#footer-bgcolor .col-md-5{
		padding-right: 0;
	}