*{
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}
html, body{
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: hsl(243, 87%, 12%);
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
}

h3{
	font-size: 1.5rem;
}

p{
	color: hsl(0, 0%, 50%);
	font-size: 17px;
	margin-bottom: 0;
}
.container{
	max-width: 1440px;
	padding-left: 80px;
	padding-right: 80px;
}

.btn-success{
	background-color: hsl(163, 95%, 43%);
	font-size: 1rem;
	font-weight: 700;
}

.btn:hover{
	color: hsl(243, 87%, 12%);
}
.btn-success:hover{
	background-color: hsl(163, 95%, 50%);
}
#top {
	width: 100%;
	height: 100vh;
	background-image: url("../../images/bg-intro-desktop.svg");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	        background-size: contain;
	background-position: right;
}

#top .header-pos{
	padding-top: 60px;
}
#top .header-pos .logo-container{
	width: 30%;
	float: left;
}
#top .header-pos .logo-container .logo-img-size{
	max-width: 170px;
	width: 100%;
}

#top .header-pos .button-container{
	height: 50px;
	padding-right: 15px;
	float: right;
}
#top .header-pos .button-container .btn{
	padding: 0.5rem 2rem;
}

#top .btn-hover{
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
}

#top .btn-hover:hover{
	color: hsl(243, 87%, 12%);
}

#top .main-text{
	margin-top: 160px;
}
#top .main-text .main-text-head{
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 3rem;
	margin-bottom: 20px;
}
#top .main-text .main-text-content{
	letter-spacing: 1px;
	padding-right: 40px;
	line-height: 22px;
	padding-bottom: 20px;
}

#top .main-text .main-text-button{
	font-size: 1.5rem;
	padding: 0.75rem 6rem;
	font-weight: 600;
}

#top .main-text button, #contacts button{
	-webkit-box-shadow: 2px 4px 12px hsl(0, 0%, 50%);
	        box-shadow: 2px 4px 12px hsl(0, 0%, 50%);
}

#top .overlay-img{
	margin-left: 22%;
	margin-top: 12%;
}

#connect{
	margin-top: 350px;
	margin-bottom: 250px;
	text-align: center;
}

#connect:before{
	content: "";
	position: absolute;
	top: 0;
	left: 70px;
	margin-top: 850px;
	background-color: hsl(106, 0%, 98%);
	width: 90vw;
	height: 100vh;
	-webkit-border-radius: 50px;
	        border-radius: 50px;
	z-index: -1;
	-webkit-transform: skew(-20deg, 7deg);
	    -ms-transform: skew(-20deg, 7deg);
	        transform: skew(-20deg, 7deg);
}

#connect .connect-heading{
	font-weight: 600;
	margin-bottom: 20px;
}

#connect .connect-text{
	width: 40%;
	margin: 0 auto 100px auto;
}

#connect .connect-img-size{
	height: 100px;
	margin-bottom: 20px;
}

#connect .connect-img-text{
	font-weight: 600;
	font-size: 1.25rem;
	padding-right: 20%;
	padding-left: 20%;
}

#social-network{
	margin-bottom: 250px;
}

#social-network .social-network-container{
	margin: 50% 0;
	padding-right: 2%;
}

#social-network .social-network-heading{
	font-weight: 600;
	margin-bottom: 40px;
	line-height: 120%;
}

#social-network .social-network-text{
	letter-spacing: 1px;
	line-height: 22px;
}

#social-network .slack-logo,.trello-logo, .asana-logo,.typeform-logo{
	background-color: #fff;
	margin-bottom: 2px;	
	margin-top: 10px;
}

#social-network .gsuite-pos, .salesforce-pos{
	background-color: #fff;
	position: relative;
	top: -15%;
}

#social-network .gsuite-logo, .salesforce-logo{
	background-color: #fff;
	margin-bottom: 2px;
}

#social-network .slack-logo-img, .gsuite-logo-img,
.trello-logo-img,.asana-logo-img, .salesforce-logo-img,
.typeform-logo-img{
	width: 100%;
	-webkit-box-shadow: 1px 1px 12px hsl(0, 0%, 50%);
	        box-shadow: 1px 1px 12px hsl(0, 0%, 50%);
	padding: 40px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

#social-network .asana-logo-img, .salesforce-logo-img{
	height: 118px;
	padding: 15px 25px;
}

#social-network .slack-logo-content, .gsuite-logo-content,
.trello-logo-content, .asana-logo-content, .salesforce-logo-content,
.typeform-logo-content{
	width: 100%;
	height: auto;
	-webkit-box-shadow: 1px 1px 12px hsl(0, 0%, 50%);
	        box-shadow: 1px 1px 12px hsl(0, 0%, 50%);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	text-align: center;
	padding: 20px;
}

#contacts{
	margin-bottom: 200px;
}

#contacts .contacts-heading{
	margin-bottom: 20px;
}

#contacts .contacts-content{
	font-size: 1.25rem;
	width: 55%;
	margin: 0 auto 40px auto;
}

#contacts .contact-content-button{
	font-size: 1.25rem;
	padding: 0.75rem 4.5rem;
	font-weight: 600;
}

#footer-bgcolor{
	background-color: hsl(243, 87%, 12%);
	padding-top: 100px;
	padding-bottom: 120px;
}

#footer-bgcolor p, span, h4{
	color: #fff;
}

#footer-bgcolor .footer-content{
	width: 90%;
	font-size: 1rem;
	letter-spacing: 2px;
	margin-bottom: 20px;
	font-weight: 600;
}
#footer-bgcolor h4{
	padding-left: 40px;
	font-size: 1.15rem;
	margin-bottom: 20px;
}

#footer-bgcolor ul{
	list-style-type: none;
}

#footer-bgcolor ul li{
	margin-bottom: 10px;
}

#footer-bgcolor ul li a,span{
	color: hsl(0, 0%, 70%);
}

#footer-bgcolor ul li a:hover{
	color: #fff;
	text-decoration: none;
}

#footer-bgcolor .footer-img-logo{
	margin-bottom: 40px;
	max-width: 170px;
	width: 100%;
	height: 50px;
}

#footer-bgcolor .footer-input,.footer-button{
	width: 100%;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 1px;
	height: 100%;
	padding-left: 10px;
}

#footer-bgcolor .col-md-5{
	padding-left: 0;
}

#footer-bgcolor .contact-info{
	margin-top: 30px;
}

#footer-bgcolor .contact-info span{
	display: block;
}

#footer-bgcolor .contact-info span:nth-child(1){
	margin-bottom: 10px;
}